/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

// Color styles

$color-white-neutral: #ffffff;
$color-brokenwhite-neutral: #f8f8f8;
$color-black-neutral: #171717;
$color-lightblack-neutral: #333333;
$color-brightmarbell-neutral: #F9F5F0;
$color-marbell-neutral: #F2EDE8;
$color-greybright-neutral: #E6E6E6;
$color-grey-neutral: #CCCCCC;
$color-darkgrey-neutral: #AFAFAF;
$color-darkergrey-neutral: #7A7A7A;
$color-gold-accent: #C69D4D;
$color-gold-hovered: #7B612F;
$color-gold-dsbld: #928d83;
$color-brown-tertiary: #73655F;
$color-darkblue-secondary: #323A3E;
$color-darkerblue-secondary: #24292c;
$color-greyblue-neutral: #656B6E;
$color-red-functional: #ff4747;
$color-green-functional: #60ae2c;
$color-blue-functional: #7496bd;
$color-blue-discord: #7289da;
$color-blue-discord-hovered: rgb(72, 90, 151);

// Font styles

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/chunq');

$font-family-dronetanks: 'Chunq', sans-serif;
$font-family-nunito: 'Nunito', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

@mixin font-nav {
    font-family: $font-family-montserrat;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;

    @media (max-width: 992px) {
        font-size: 1rem;
    }
}
@mixin font-h1 {
    font-family: $font-family-montserrat;
    font-size: 6rem;
    font-weight: 500;
    line-height: 6rem;
    -webkit-text-stroke: 3px solid $color-black-neutral;
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: 5rem;
        line-height: 5rem;
    }
    
    @media (max-width: 768px) {
        font-size: 4rem;
        line-height: 4rem;
    }
    
    @media (max-width: 576px) {
        font-size: 3.25rem;
        line-height: 3.25rem;
    }
    
    @media (max-width: 400px) {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
}
@mixin font-subh1 {
    font-family: $font-family-montserrat;
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 3rem;

    @media (max-width: 992px) {
        font-size: 2.75rem;
    }
    
    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
    
    @media (max-width: 576px) {
        font-size: 2rem;
    }
    
    @media (max-width: 400px) {
        font-size: 1.75rem;
    }
}
@mixin font-dscrd-hdng {
    font-family: $font-family-montserrat;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}
@mixin font-h2 {
    font-family: $font-family-montserrat;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 1.75rem;
    }

    @media (max-width: 576px) {
        font-size: 1.5rem;
    }

    @media (max-width: 400px) {
        font-size: 1.25rem;
    }
}
@mixin font-txt-big {
    font-family: $font-family-montserrat;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;

    @media (max-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    
    @media (max-width: 576px) {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}
@mixin dronetanks-title {
    font-family: $font-family-dronetanks;
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.5rem;
    color: $color-brown-tertiary;

    @media (max-width: 768px) {
        font-size: 3rem;
        line-height: 2.5rem;
    }
    
    @media (max-width: 576px) {
        font-size: 2.75rem;
        line-height: 2.25rem;
    }

    @media (max-width: 400px) {
        font-size: 2.25rem;
        line-height: 1.75rem;
    }
}
@mixin font-btn {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.25rem;
    font-family: $font-family-montserrat;

    @media (max-width: 576px) {
        font-size: 1rem;
        line-height: 1rem;
    }
    
    @media (max-width: 400px) {
        font-size: .825rem;
        line-height: .825rem;
    }
    
}
@mixin font-h3 {
    font-family: $font-family-montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;

    @media (max-width: 768px) {
        font-size: 1.25rem;
    }
    
    @media (max-width: 576px) {
        font-size: 1rem;
    }
    
}
@mixin font-lbl {
    font-family: $font-family-montserrat;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
}
@mixin font-txt {
    font-family: $font-family-montserrat;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
}
@mixin font-body {
    font-family: $font-family-montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    @media (max-width: 576px) {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}
@mixin font-body-imp {
    font-family: $font-family-montserrat;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
@mixin font-body-medium {
    font-family: $font-family-montserrat;
    font-size: 1rem;
    line-height: 1.25rem;

    @media (max-width: 576px) {
        font-size: .75rem;
        line-height: 1rem;
    }
}
@mixin font-body-small {
    font-family: $font-family-montserrat;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;

    @media (max-width: 576px) {
        font-size: .75rem;
        line-height: 1rem;
    }
}
@mixin font-captions {
    font-family: $font-family-montserrat;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;

    @media (max-width: 576px) {
        font-size: .625rem;
        line-height: .875rem;
    }
}

// Effect styles

$drop-shadow-3d: 0px 39px 7.8px -35px rgba(0, 0, 0, 0.6);
$drop-shadow-3d-l: 0px 42px 12px -35px rgba(0, 0, 0, 0.6);
$drop-shadow-surrounded: 0px 3px 6.7px 2px rgba(0, 0, 0, 0.36);
$drop-shadow-smooth: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$drop-shadow-btn: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);

$stroke-white-smooth: 1px solid rgba(255, 255, 255, 0.25); 

$border-rds-l: .5rem;
$border-rds-m: .25rem;
$border-rds-s: .125rem;
$border-rds-btn: .5rem;

// Keyframes

@keyframes shakeRotate {
    0% { transform: rotate(0deg); }
    17% { transform: rotate(5deg); }
    35% { transform: rotate(-5deg); }
    52% { transform: rotate(3deg); }
    70% { transform: rotate(0deg); }
    82% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
}
@keyframes fadeOut {
    from {
      opacity: 1;
    } to {
      opacity: 0;
    }
}
@keyframes scrollleft {
    to {
        left: -200px
    }
}
@keyframes quickWobble {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(-5deg); }
    10% { transform: rotate(5deg); }
    15% { transform: rotate(-5deg); }
    20% { transform: rotate(5deg); }
    25% { transform: rotate(-5deg); }
    30% { transform: rotate(5deg); }
    35% { transform: rotate(-5deg); }
    40% { transform: rotate(5deg); }
    45% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
@keyframes wobble {
    0% { transform: rotate(0deg) scale(1); }
    25% { transform: rotate(-3deg) scale(1.05); }
    50% { transform: rotate(3deg) scale(1.1); }
    75% { transform: rotate(-3deg) scale(1.05); }
    100% { transform: rotate(0deg) scale(1); }
}

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/

* {
    scroll-behavior: smooth;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

body {
    background-color: $color-brightmarbell-neutral;
    position: relative;
    @include font-body;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('../images/textures/marble-paper.webp');
        mix-blend-mode: screen;
    }
}

main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    background-color: $color-white-neutral;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/



/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-popup-mssg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    pointer-events: none;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    opacity: 0;
    transform: translateY(-4rem);
    transition: all .3s ease-out;

    &__cntnr {
        height: fit-content;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: $border-rds-l;
        color: $color-brightmarbell-neutral;

        &--success {
            background-color: $color-green-functional;
        }

        &--error {
            background-color: $color-red-functional;
        }
    }

    &__txt {
        @include font-body-imp();
    }

    &__svg {
        width: 1rem;
        height: 1rem;
        stroke: $color-brightmarbell-neutral;
        stroke-width: .5px;
        fill: $color-brightmarbell-neutral;
        overflow: visible;
        pointer-events: all;
        cursor: pointer;
    }
}

.c-btt {
    opacity: 0;
    transform: translateY(-100%);
    position: fixed;
    top: calc(100vh - 1.5rem);
    right: 1.5rem;
    width: 4rem;
    height: 4rem;
    background-color: $color-gold-accent;
    z-index: 1000;
    border-radius: $border-rds-btn;
    box-shadow: $drop-shadow-btn;
    transition: all .3s ease-out;
    pointer-events: none;

    @media (max-width: 576px) {
        top: calc(100vh - .75rem);
        right: .75rem;
    }
    
    &:hover {
        opacity: 1 !important;
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: $color-white-neutral;
    }

    &__svg {
        fill: $color-white-neutral;
        width: 2rem;
        height: 2rem;
    }
}

.c-partner {
    margin-top: 6rem;

    @media (max-width: 992px) {
        margin-top: 5rem;
    }

    @media (max-width: 576px) {
        margin-top: 3rem;
    }

    &__wrapper {
        width: 100%;
        margin-inline: auto;
        position: relative;
        height: 4rem;
        overflow: hidden;
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
        );
        
        @media (max-width: 768px) {
            height: 2.5rem;
        }

        @media (max-width: 576px) {
            height: 2rem;
        }
    
        &:hover .c-partner__item {
            animation-play-state: paused;
        }
    }

    &__item {
        width: 12.5rem;
        height: 4rem;
        position: absolute;
        left: max(calc(12.5rem * 8), 100%);
        animation-name: scrollleft;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: all 0.3s ease-out;
        filter: grayscale(1);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 992px) {
            width: 9rem;
            left: max(calc(9rem * 8), 100%);
        }
        
        @media (max-width: 768px) {
            width: 5rem;
            height: 2.5rem;
            left: max(calc(5rem * 8), 100%);
        }

        @media (max-width: 576px) {
            width: 3rem;
            height: 2rem;
            left: max(calc(3rem * 8), 100%);
        }
        

        &:hover {
            filter: grayscale(0);
        }
    
        &--1 {
            animation-delay: calc(30s / 8 * (8 - 1) * -1);
            background-image: url('../images/icons/partner-dae.webp');
        }
        
        &--2 {
            animation-delay: calc(30s / 8 * (8 - 2) * -1);
            background-image: url('../images/icons/partner-getlead.webp');
        }
    
        &--3 {
            animation-delay: calc(30s / 8 * (8 - 3) * -1);
            background-image: url('../images/icons/partner-steam.webp');
        }
    
        &--4 {
            animation-delay: calc(30s / 8 * (8 - 4) * -1);
            background-image: url('../images/icons/partner-ue.webp');
        }
    
        &--5 {
            animation-delay: calc(30s / 8 * (8 - 5) * -1);
            background-image: url('../images/icons/partner-vaf.webp');
        }
    
        &--6 {
            animation-delay: calc(30s / 8 * (8 - 6) * -1);
            background-image: url('../images/icons/partner-howest.webp');
        }
    
        &--7 {
            animation-delay: calc(30s / 8 * (8 - 7) * -1);
            background-image: url('../images/icons/partner-gg.webp');
        }
    
        &--8 {
            animation-delay: calc(30s / 8 * (8 - 8) * -1);
            background-image: url('../images/icons/logo.webp');
        }
    }
}

.c-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: hsla(0, 0%, 9%, 0.212);
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-out;
    pointer-events: none;

    &__card {
        padding: 1rem;
        width: 100%;
        height: auto;
        background-color: $color-white-neutral;
        border-radius: $border-rds-l;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0);
        transition: all .3s ease-out;
    }

    &__close-btn {
        margin-left: auto;
        font-size: 2rem;
        pointer-events: all;

        &:hover {
            cursor: pointer;
            color: $color-gold-accent;
        }
    }

    &__hdng {
        @include font-h3;
        margin-top: 1rem;
    }

    &__lottie-player {
        width: 10rem;
        height: 10rem;
    }
}

.c-loader {
    width: 3rem;
    height: 3rem;
    border: 5px solid $color-white-neutral;
    border-bottom-color: $color-gold-accent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.c-btn-prmry {
    @include font-btn();
    padding: .75rem 1rem;
    background-color: $color-gold-accent;
    border-radius: $border-rds-btn;
    border: none;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    white-space: nowrap;
    color: $color-white-neutral;
    text-decoration: none;
    box-shadow: $drop-shadow-btn;

    &:hover {
        background-color: $color-gold-hovered;
    }

    &__svg {
        height: 1rem;
        fill: $color-white-neutral;
        stroke: $color-white-neutral;
        stroke-width: 1px;
    }
}

.c-btn-scndry {
    @include font-btn();
    padding: .5rem 1rem;
    border-radius: $border-rds-btn;
    border: none;
    border: 4px solid $color-gold-accent;
    color: $color-gold-accent;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        background-color: $color-gold-accent;
        color: $color-white-neutral;
    }

    &--dsbld {
        pointer-events: none;
        background-color: $color-gold-dsbld;
        color: $color-grey-neutral;
        border-color: $color-gold-dsbld;
    }
}

.c-header {
    position: relative;

    &--home {
        height: 100vh;
        background-image: url('../images/art/paralax-design.webp');
        background-size: cover;
        background-position: center;
        mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    }

    &--cntct {
        
        position: relative;
        z-index: 1;
        height: 70vh;

        @media (min-width: 1600px) {
            height: 50vh;
        }
        
        
        &::after {
            content: '';
            position: absolute;
            top: -4.5rem;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 9rem);
            transition: all .3s ease-out;
        }

        &:has(.c-nav--cntct:hover)::after {    
            top: 0;        
        }
    }

    &__txt-cntnt {
        height: 100%;
        position: absolute;
        width: 100%;
        pointer-events: none;
    }

    &__cntnr {
        height: 100%;
    }

    &__row {
        row-gap: 3rem;
    }

    &__col {
        height: 100%;
    }

    &__header {
        margin-top: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 992px) {
            margin-top: 8rem;
        }
    }

    &__hdng {
        @include font-h1;
    }

    &__subhdng {
        margin-top: -.5rem;
        @include font-subh1;
    }

    // Drone Tanks

    &__dt-txt-cntnr {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center
    }

    &__dt-ttle {
        @include dronetanks-title();
    }

    &__dt-prgrph {
        width: 80%;
    }

    // Video 
    
    &__vid-txt {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 6rem);
    }

    &__vid-cntnr {
        height: 100%;
        z-index: -1;
        
        background-color: #62788C;
        overflow: hidden;
        height: 70vh;

        @media (min-width: 1600px) {
            height: 50vh;
        }
    }

    &__vid-plyr {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // filter: blur(1px);
        position: fixed;
        
    }

    &__vid-txt {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: $color-brightmarbell-neutral;
        
    }

    &__vid-txt-cntnr {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        
        @media (max-width: 992px) {
            padding-bottom: .5rem;
        }
        
    }

    &__vid-hdng {
        
    }
}

.c-nav {
    color: $color-white-neutral;
    padding: 1rem 0;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: $color-brightmarbell-neutral;

    &--cntct {
        overflow: visible;
        background-color: transparent;
        background-color: $color-brightmarbell-neutral;
        transition: all .3s ease-out;
        

        @media (min-width: 993px) {
            background-color: transparent;
        }
    }

    &--home {

    }

    &__cntnt {

    }

    &__brand {
        margin: 0;
        padding: 0;
    }

    &__brand-img {
        height: 4rem;
        transform: scaleX(-1);
        padding: 0 1rem;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &__brand-svg {
        height: 4rem;
        fill: $color-gold-accent;

        &:hover {
            fill: $color-gold-hovered;
        }
    }

    &__brand-path {

    }

    &__toggle {

    }

    &__toggle-icon {

    }

    &__collapse {

    }

    &__list {
        margin-left: auto;
        display: flex;
        gap: 4rem;

        @media (max-width: 992px) {
            gap: 2rem;
            padding: 2rem 0;
        }
        
    }

    &__link {
        @include font-nav;
        text-align: center;
        position: relative;

        &:hover {
            color: $color-gold-accent;
            
            &::after {
                width: 80%;
            }
            
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0rem;
            height: 4px;
            transform: translate(-50%, 0);
            background-color: $color-gold-accent;
            transition: all .3s ease-out;
        }

        &--light {
            

            @media (min-width: 993px) {
                color: $color-white-neutral;
            }
        }

        &--active {            
            color: $color-gold-accent;

            &::after {
                width: 80%;
            }
        }
    }
}

.c-parallax {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    
    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__row {
        height: 100%;
    }

    &__txt-cntnr {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    &__txt {
        @include dronetanks-title();
    }
}

.c-about {
    padding: 4rem 0;

    &__row {
        row-gap: 3rem;
        align-items: center;

        @media (max-width: 576px) {
            row-gap: 1.5rem;
        }
    }

    &__hdng {
        @include font-h2;
    }

    &__txt-cntnr {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 2rem;
        
    }

    &__ttl {
        @include font-txt-big;
    }

    &__ttl-ccnt {
        color: $color-gold-accent;
        font-weight: 700;
    }

    // Image carousel

    &__crsl {

    }

    &__crsl-indctrs {
        // position: relative;
        display: flex;
        gap: .5rem;
        margin-top: 1rem;
    }

    &__crsl-indctr {
        border-radius: $border-rds-l !important;
        // background-color: #60ae2c !important;
        width: 2rem !important;
        
        border-radius: 1rem !important;
        background-clip: unset !important;
        padding: 0 !important;
        border: none !important;
        margin: 0 !important;

        &--active {
            
        }
    }

    &__crsl-innr {
        border-radius: $border-rds-m;
        overflow: hidden;
    }

    &__crsl-itm {
        height: 20rem;
    }

    &__crsl-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__crsl-btn {

        &--prev {

        }

        &--next {

        }
    }

    // Carousel

    // &__crsl-cntnr {
    //     display: flex;

    //     @media (max-width: 992px) {
    //         padding: 0;
    //     }
    // }

    // &__crsl-btn {
    //     position: relative;
    //     width: auto;
    //     height: auto;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     cursor: pointer;
    //     z-index: 10;

    //     @media (max-width: 992px) {
    //         width: auto;
    //         display: none;
    //     }

    //     &:hover {

    //         .c-about__crsl-btn-icon {
    //             stroke: $color-white-neutral;
    //             fill: $color-white-neutral;
    //             background-color: $color-gold-accent;
    //         }
    //     }

    //     &--dsbld {
    //         pointer-events: none;

    //         .c-about__crsl-btn-icon {
    //             stroke: $color-grey-neutral;
    //             fill: $color-grey-neutral;
    //         }
    //     }
    // }

    // &__crsl-btn-icon {
    //     height: 2rem;
    //     stroke: $color-black-neutral;
    //     stroke-width: 2;
    //     padding: .25rem;
    //     border-radius: .25rem;
    // }

    // &__crsl-items {
    //     position: relative;
    //     display: flex;
    //     width: 100%;
    //     height: 14rem;
    //     clip-path: inset(0rem 0rem -.75rem 0rem);
    //     margin: 0rem 1rem;
    // }

    // &__crsl-item {
    //     position: absolute;
    //     border-radius: $border-rds-l;
    //     overflow: hidden;
    //     width: calc(50% - .75rem);
    //     height: 100%;
    //     background-color: $color-marbell-neutral;
    //     border: $stroke-white-smooth;
    //     box-sizing: border-box;
    //     // box-shadow: $drop-shadow-3d;
    //     transition: all .3s ease-in-out;
    //     cursor: pointer;

    //     &--prev {
    //         left: calc(-50% - .75rem);
    //         pointer-events: none;
    //     }

    //     &--left {
    //         left: 0;
    //     }

    //     &--right {
    //         right: 0;
    //     }

    //     &--next {
    //         right: calc(-50% - .75rem);
    //         pointer-events: none;
    //     }
    // }

    // &__crsl-img {
    //     object-fit: cover;
    //     width: 100%;
    //     height: 100%;
    // }
}

.c-team {
    background-color: $color-darkblue-secondary;
    padding: 4rem 0 6rem 0;
    color: $color-white-neutral;

    @media (max-width: 576px) {
        padding: 2rem 0 4rem 0;
    }
    

    &__row {
        row-gap: 3rem;

        @media (max-width: 576px) {
            row-gap: 1.5rem;
        }
        
    }

    // Article header

    &__hdr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hdng {
        @include font-h2();
    }

    &__slide-btns {
        display: flex;
        gap: 1rem;
    }

    &__slide-btn {
        padding: 0;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $color-gold-accent;
            border-radius: .25rem;

            .c-team__slide-btn-svg {
                fill: $color-white-neutral;
                stroke: $color-white-neutral;
            }
        }

        &--dsbld {
            pointer-events: none;

            .c-team__slide-btn-svg {
                fill: $color-darkergrey-neutral;
                stroke: $color-darkergrey-neutral;
            }
        }
    }

    &__slide-btn-svg {
        height: 1.5rem;
        stroke: $color-white-neutral;
        stroke-width: 2;
        fill: $color-white-neutral;
    }

    // Slide

    &__mmbrs-slide-wrppr {
        clip-path: inset(-.5rem 0rem -1.5rem -.75rem);
    }

    &__mmbrs-slide {
        display: flex;
        flex-wrap: nowrap;
        gap: 1.5rem;
        width: max-content;
        transition: margin-left .3s ease-out;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__mmbr {
        border-radius: $border-rds-m;
        height: 26rem;
        position: relative;
        box-shadow: $drop-shadow-3d-l;
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 20rem;
        flex: 0 0 auto;
        transition: all .3s ease-out;

        @media (max-width: 576px) {
            width: 14rem;
            height: 16rem;
            box-shadow: none;
            border: none;
        }
    
        &:hover {
            @media (min-width: 993px) {
                transform: translateY(-4px);
            }
            
            .c-team__mmbr-name {
                @media (min-width: 993px) {
                    top: 1.25rem;
                }   
            }

            .c-team__mmbr-img {
                filter: grayscale(0);
            }

            .c-team__mmbr-dtls {
                
                opacity: 1;
                @media (min-width: 993px) {
                    transform: translateX(0);
                }
                

                &::before {
                    
                    opacity: 1;

                    @media (min-width: 993px) {
                         transform: translate(0, 0);
                    }
                }
            }
        }
    }

    &__mmbr-img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: inherit;

        @media (min-width: 993px) {
            filter: grayscale(1);
        }
    }

    &__mmbr-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &__mmbr-name {
        border-radius: $border-rds-l;
        border-bottom-left-radius: 0;
        top: 1rem;
        left: -.75rem;
        position: absolute;
        @include font-h3;
        padding: .5rem 1rem .5rem 1.25rem;
        background-color: $color-gold-accent;
        width: fit-content;
        transition: all .3s ease-out;
        box-shadow: 2px 6px 10px -2px rgba(0, 0, 0, 0.337);

        &::before {
            content: '';
            position: absolute;
            left: 4px;
            bottom: -11px;
            width: 1.4142rem;
            height: 1.4142rem;
            rotate: 45deg;
            background-color: $color-gold-hovered;
            z-index: -1;
        }
    }

    &__mmbr-name-span {

    }

    &__mmbr-dtls-cntnr {
        overflow: hidden;
        border-bottom-left-radius: $border-rds-m;
        border-bottom-right-radius: $border-rds-m;
    }

    &__mmbr-dtls {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .3s ease-out;
        
        @media (max-width: 992px) {
            opacity: 1;
            transform: translateX(0);
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: translate(100%, 0%);
            transition: all .3s ease-out;
            background: linear-gradient(180deg, #00000000 0%, #00000098 40%, #000000ce 100%);

            @media (max-width: 992px) {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }

    &__mmbr-role {
        @include font-txt-big;
        font-weight: 600;
        position: relative;
        z-index: 1;
    }

    &__mmbr-dscrptn {
        position: relative;
        z-index: 1;
        @include font-body-medium();
    }

    // Text

    &__txt-cntnr {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        @include font-txt-big;

        @media (max-width: 992px) {
            margin-top: 1rem;
        }

        @media (max-width: 768px) {
            margin-top: .5rem;
        }
        
    }

}  
      
.c-careers {
    padding: 4rem 0;

    &__row {
        row-gap: 2.5rem;

        @media (max-width: 576px) {
            row-gap: 1.5rem;
        }
        
    }

    &__hdr {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 3rem;

        @media (max-width: 576px) {
            margin-bottom: 1.5rem;
        }
        
    }

    &__hdng {
        @include font-h2;
    }

    &__wanted {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: .25rem;
    }

    &__card {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid $color-greybright-neutral;
        padding: 1rem;
        border-radius: $border-rds-l;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        transition: all .15s ease-out;
        text-decoration: none;
        color: $color-black-neutral;

        @media (max-width: 576px) {
            padding: 1rem;
            gap: 1rem;
        }
        

        &:hover {
            background-color: $color-darkblue-secondary;
            color: $color-white-neutral;

            .c-careers {

                &__ttl {
                    color: $color-gold-accent;
                }

                &__btn {
                    background-color: $color-gold-accent;
                    color: $color-darkblue-secondary;
                }

                &__list-item {
                    border-color: rgba(255, 255, 255, 0.2);
                }
            }
        }

        &--dsbld {
            pointer-events: none;
            background-color: $color-greybright-neutral;
            color: $color-darkgrey-neutral;

            .c-careers {
                &__ttl {
                    color: $color-darkgrey-neutral;
                }

                &__list-item {
                    border-color: $color-grey-neutral;
                }

                &__img {
                    filter: grayscale(100%);
                }
            }
        }
    }

    &__badge {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        aspect-ratio: 1/1;
        top: -.5rem;
        right: -.5rem;
        background-color: $color-red-functional;
        animation: quickWobble 2s ease-in-out infinite;

        @media (max-width: 576px) {
            width: 2rem;
            height: 2rem;
        }
    }

    &__badge-icon {
        font-size: 1.5rem;
        color: $color-white-neutral;

        @media (max-width: 576px) {
            font-size: 1.25rem;
        }
        
    }

    &__txt-cntnr {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    &__ttl {
        text-align: center;
        @include font-h3;
        color: $color-brown-tertiary;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1.8/1;
        object-fit: cover;
        border-radius: $border-rds-m;
    }

    &__txt {
        @include font-body-small;
    }

    // &__list {
    //     list-style-type: none;
    //     padding: 0 1rem;
    //     margin: 0;
    //     display: flex;
    //     flex-direction: column;
    //     gap: .5rem;

    //     @media (max-width: 576px) {
    //         padding: 0;
    //     }
    // }

    // &__list-item {
    //     border-bottom: 1px solid $color-greybright-neutral;
    //     padding-bottom: .5rem;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     @include font-body-small;

    //     &:last-child {
    //         border-bottom: none;
    //     }
    // }

    &__btn {
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}

.c-project {
    padding: 4rem 0;

    &__row {
        row-gap: 3rem;
    }

    &__hdr {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
    &__hdng {
        @include font-h2
    }

    // Slide

    &__slide-btns {
        display: flex;
        gap: 1rem;
    }

    &__slide-btn {
        padding: 0;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $color-gold-accent;
            border-radius: .25rem;

            .c-project__slide-btn-svg {
                fill: $color-white-neutral;
                stroke: $color-white-neutral;
            }
        }

        &--dsbld {
            pointer-events: none;

            .c-project__slide-btn-svg {
                fill: $color-grey-neutral;
                stroke: $color-grey-neutral;
            }
        }
    }

    &__slide-btn-svg {
        height: 1.5rem;
        stroke: $color-black-neutral;
        stroke-width: 2;
    }

    &__slide-cntnr {
        position: relative;
        clip-path: inset(-.5rem -.5rem -.75rem -.5rem);
    }

    &__slide {
        display: flex;
        gap: 1.5rem;
        margin-left: 0;
        overflow: visible;
        transition: all .3s ease-out;
    }
    
    &__slide-item {
        flex-shrink: 0;
        width: 22.5rem;
        height: 14.5rem;
        border: 1px solid $color-grey-neutral;
        box-sizing: border-box;
        border-radius: $border-rds-l;
        background-color: $color-marbell-neutral;
        overflow: hidden;
        // box-shadow: $drop-shadow-3d;

        @media (max-width: 768px) {
            width: var(--slide-cntnr-width);
            height: 18rem;
        }
    }

    &__slide-item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1  ;
            background-color: rgba(0, 0, 0, 0.965);
        }
    }
    
    // Text container

    &__txt-cntnr {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__prgrph {
        @include font-txt-big;
    }

    &__btn {
        margin-bottom: 1rem;
    }
}

.c-cntct {
    padding: 4rem 0 6rem 0;
    background-color: $color-white-neutral;

    &__row {
        row-gap: 3rem;
    }

    &__form {
        display: flex;
   
        width: 100%;
        background-color: $color-marbell-neutral;
     
        overflow: hidden;
        border-radius: $border-rds-l;
        box-shadow: $drop-shadow-btn;

        @media (max-width: 992px) {
            flex-direction: column;
        }
        
    }

    // Header

    &__form-hdr {
        display: flex;
        flex-direction: column;
        width: 50rem;
        background-color: $color-brightmarbell-neutral;
        padding: 1rem 1.5rem 1rem 1rem;
        gap: 1rem;
    }

    &__form-hdng {
        @include font-h2;
    }

    &__form-subhdng {
        
    }

    &__form-tip {
        margin-left: auto;
        margin-top: 1.5rem;
        color: $color-red-functional;
    }

    &__form-dtls {
        display: flex;

    }

    &__form-logo {
        width: 10rem;
        object-fit: contain;
    }

    &__form-cntct-lst {
        display: flex;
        gap: .5rem;
        flex-direction: column;
    }

    &__form-cntct-itm {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__form-cntct-itm-icn {
        font-size: 1.25rem;
        color: $color-gold-accent;
    }

    &__form-map {
        margin-top: 1rem;
        width: 100%;
        height: 100%;
    }

    // Form

    &__form-inpt-cntnr {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        color: $color-white-neutral;
        padding: 1rem;
        background-color: $color-greyblue-neutral;
        border-radius: $border-rds-l;
    }

    &__form-grp {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &:hover {

            .c-cntct {
    
                &__form-inpt, &__form-slct, &__form-txtarea {
                    box-shadow: $drop-shadow-btn;
                }
            }
        }

        &:focus-within {

            .c-cntct {

                &__form-lbl {
                    color: $color-gold-accent;
                }
    
                &__form-inpt, &__form-slct, &__form-txtarea {
                    outline: 2px solid $color-gold-accent;
                    box-shadow: none !important;
                }
            }
        }
    }

    &__form-lbl {
        @include font-lbl;
        display: flex;
        justify-content: space-between;

        &--error {
            color: $color-red-functional;
        }

        span {
            color: $color-red-functional;
            font-size: .875rem;
            font-weight: 500;
        }

        &--attach {
            cursor: pointer;
            background-color: $color-brightmarbell-neutral;
            margin-right: auto;
            padding: .5rem 1rem;
            border-radius: $border-rds-l;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $color-lightblack-neutral;
            font-size: 1rem;

            i {
                font-size: 1.25rem;
                transform: rotate(25deg);
            }
        }
    }

    &__item-error {
        outline: 2px solid $color-red-functional !important;
    }

    &__form-inpt {
        border-radius: $border-rds-l;
        padding: .5rem 1rem;
        border: none;
        height: 2.5rem;

        &::placeholder {
            color: $color-grey-neutral;
        }
    }

    &__form-attach {
        display: none;
    }

    &__form-attach-cntnr {
        display: flex;
        align-items: center;
    }

    &__form-attach-name {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__form-attach-name-icon {
        cursor: pointer;
        
        &:hover {
            color: $color-red-functional;
        }
    }

    &__form-txtarea {
        border-radius: $border-rds-l;
        padding: .5rem 1rem;
        border: none;

        &::placeholder {
            color: $color-grey-neutral;
        }
    }

    &__form-slct {
        border-radius: $border-rds-l;
        padding: .5rem 1rem;
        border: none;
        height: 2.5rem;
       
        &--empty {
            color: $color-grey-neutral;
        }
    }

    &__form-optn {
        color: $color-lightblack-neutral;

        &:hover {
            background-color: $color-gold-accent;
        }
        
        &--grey {
            color: $color-grey-neutral;
            
            &:hover {
                background-color: $color-white-neutral;
            }
        }
    }

    &__form-btn {
        margin-top: 1rem;
        width: 100%;
        margin-bottom: .5rem;
        box-shadow: none;
    }
}

.c-nwslttr {
    padding: 1rem;
    background-color: $color-grey-neutral;
    background-image: url('../images/art/thumbnail.webp');
    background-size: cover;
    background-position: center;
    height: 60vh;

    &__cntnr {
        height: 100%;
    }

    &__row {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__form-cntnr {
        color: $color-white-neutral;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        background-color: hsla(200, 11%, 22%, 0.75);
        padding: 1rem;
        border-radius: $border-rds-l;
    }
    
    &__hdr {
        display: flex;
        flex-direction: column;
        
    }

    &__hdng {
        @include font-h2;
        font-size: 1.75rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__form-inpt {
        border-radius: $border-rds-l;
        padding: .5rem 1rem;
        border: none;

        &--error {
            outline: 2px solid $color-red-functional;
        }
    }

    &__form-btn {
        width: min-content;
        margin-bottom: .5rem;
        box-shadow: none;
        
        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    &__mssg-cntnr {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(15.45rem - 2rem);
        gap: auto;
    }

    &__mssg-lottie {
        width: 6rem;
        height: 6rem;
    }

    &__loader {
        margin-bottom: 1rem;
    }

    &__mssg {
        color: $color-white-neutral;
        text-align: center;
    }
}

.c-footer {
    position: relative;
    z-index: 1;
    padding-top: 3rem;
    background-color: $color-darkblue-secondary;
    color: $color-white-neutral;

    &__cntnt {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    // Top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 2rem;
        }
        
    }

    &__logo-cntnr {
        width: 100%;
    }

    &__logo {
        
    }

    &__logo-img {
        margin-left: 1rem;
        width: 4rem;

        @media (max-width: 992px) {
            margin: 0 auto;
            width: 40%;
        }
        
    }

    &__list {
        display: flex;
        gap: 2rem;
        list-style-type: none;
        padding: 0;

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
        }
    }

    &__list-item {
        @include font-nav();
        white-space: nowrap;
        text-decoration: none;
        color: $color-white-neutral;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 576px) {
            width: 100%;
            border-bottom: 1px solid $color-darkergrey-neutral;
            padding-bottom: 1rem;
        }

        &:hover {
            color: $color-gold-accent;
        }
    }

    &__list-item-icon {
        display: none;
        font-size: 1.25rem;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__dscrd-cntnr {
        width: 100%;

        @media (max-width: 768px) {
            padding: 1rem;
            background-color: #60ae2c;
            background-image: url('../images/textures/discord-poster.webp');
            background-size: cover;
        }
        
    }
    
    &__dscrd {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 1rem;
        color: white;
        justify-self: end;

        @media (max-width: 576px) {
            justify-self: center;
            
            content: none;

            &::before {
                content: "";
                background-image: url('../images/icons/insta-profile.webp');
                background-size: cover;
                width: 4rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 5px solid $color-gold-accent;
                margin-right: 10%;
            }
        }
        

        &:hover {
            color: $color-gold-accent;

            .c-footer__dscrd-svg {
                animation: wobble 0.5s ease-in-out infinite;
                fill: $color-gold-accent;
            }
        }
    }

    &__dscrd-svg {
        height: 1.5rem;
        fill: $color-white-neutral;
        animation: quickWobble 2s ease-in-out infinite;
    }

    &__dscrd-txt {
        @include font-body-imp();
        margin: 0;
        white-space: nowrap;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    // Bottom

    &__bttm {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3rem;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__cntct-list {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        list-style-type: none;
        padding: 0;
        flex-grow: 1;
        width: 1px;

        @media (max-width: 768px) {
            order: 1;
            flex-grow: unset;
            width: 100%;
            align-items: center;
        }
    }

    &__cntct-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        color: $color-white-neutral;
        @include font-body-small();

        @media (max-width: 576px) {
            color: $color-grey-neutral;
        }
        

        &:hover {
            color: $color-gold-accent;
        }
    }

    &__cntct-icon {
        font-size: 1.25rem;
    }

    &__scls {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        flex-grow: 1;
        width: 1px;

        @media (max-width: 768px) {
            order: 0;
            flex-grow: unset;
            width: unset;
        }
    }

    &__scls-list {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;
        color: $color-white-neutral;
    }

    &__scls-item {
        color: $color-white-neutral;
        fill: $color-white-neutral;

        &:hover {
            color: $color-gold-accent;
        }
    }

    &__scls-icon {
        font-size: 1.5rem;
    }

    &__gg {
        display: flex;
        justify-content: end;
        flex-grow: 1;
        width: 1px;

        @media (max-width: 768px) {
            order: 2;
            flex-grow: unset;
            width: 100%;
            justify-content: center;
        }
    }

    &__gg-cntnr {
        background-color: $color-lightblack-neutral;
        padding: .75rem 1.25rem;
        height: 5rem;

        @media (max-width: 576px) {
            // width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__gg-img {
        height: 100%;
    }

    // Copyright

    &__copy {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem 0;
        background-color: $color-darkerblue-secondary;
        color: $color-darkergrey-neutral
    }

    &__copy-txt {
        @include font-captions();

    }
}

.c-dscrd {
    color: $color-black-neutral;
    position: relative;
    margin-bottom: 4rem;
    

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: $color-darkblue-secondary;
        z-index: 0;
        box-shadow: 0px -1px 0px 1px $color-darkblue-secondary;
    }

    &__wrppr {
        position: relative;
        z-index: 1;
        padding: .25rem;
        overflow: hidden;
        background: linear-gradient(135deg, #e5e5e5 0%, #c2c2c2 70%, #b0b0b0 80%, #cacaca 90%, #cfcfcf 100%);
        border-radius: $border-rds-l;
    }

    &__cntnt {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $color-brightmarbell-neutral;
        border-radius: $border-rds-m;
        padding: 2rem;
        height: 16rem;

        // box-shadow: $drop-shadow-btn;
        background-image: url("../images/textures/discord-lines.webp");
        background-size: cover;
        background-position: 200px;
        background-repeat: no-repeat
    }

    &__hdng {
        @include font-dscrd-hdng();
        color: $color-blue-discord;
    }

    &__btn {
        width: min-content;
        margin-top: auto;
        box-shadow: none;
        background-color: $color-blue-discord;

        &:hover {
            background-color: $color-blue-discord-hovered;
        }
    }
}

.c-scls {
    color: $color-white-neutral;

    &__row {
        row-gap: 3rem;

        @media (max-width: 576px) {
            row-gap: 1.5rem;
        }
    }

    &__artcl {
        background-color: $color-darkblue-secondary;
        padding: 3rem 0 6rem 0;

        @media (max-width: 576px) {
            padding: 2rem 0 4rem 0;
        }
    }

    // Article header

    &__hdr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hdng {
        @include font-h2();
    }

    &__slide-btns {
        display: flex;
        gap: 1rem;
    }

    &__slide-btn {
        padding: 0;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $color-gold-accent;
            border-radius: .25rem;

            .c-scls__slide-btn-svg {
                fill: $color-white-neutral;
                stroke: $color-white-neutral;
            }
        }

        &--dsbld {
            pointer-events: none;

            .c-scls__slide-btn-svg {
                fill: $color-darkergrey-neutral;
                stroke: $color-darkergrey-neutral;
            }
        }
    }

    &__slide-btn-svg {
        height: 1.5rem;
        stroke: $color-white-neutral;
        stroke-width: 2;
        fill: $color-white-neutral;
    }

    // Placeholder

    &__ph-cntnr {
        width: 100%;
        height: 24rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    // Instagram

    &__insta-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 1.5rem;
        clip-path: inset(-1rem 0rem -1rem -1.5rem);
        scroll-snap-type: x mandatory;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__insta-item {
        position: relative;
        width: 13.5rem;
        min-width: 13.5rem;
        aspect-ratio: 9/16;
        border-radius: $border-rds-l;
        background-color: $color-black-neutral;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        box-shadow: $drop-shadow-3d-l;
        scroll-snap-align: start;

        @media (max-width: 576px) {
            width: 9rem;
            min-width: 9rem;
        }
        

        &:hover {

            .c-scls {

                &__insta-dtls {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    &__insta-hdr {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: .5rem;

        @media (max-width: 576px) {
            padding: .25rem;
            gap: .5rem;
        }
    }

    &__insta-avtr-cntnr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        padding: .25rem;
        background: linear-gradient(135deg, #f09433 0%, #e6683c 70%, #dc2743 80%, #cc2366 90%, #bc1888 100%);

        @media (max-width: 576px) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &__insta-avtr {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &__insta-hdng {
        margin: 0;
        text-decoration: none;
        font-size: 1rem;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    }

    &__insta-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__insta-vid {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // Details

    &__insta-dtls {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        padding: 2.5rem .5rem .75rem .5rem;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 25%);
        color: $color-black-neutral;
        transform: translateY(100%);
        opacity: 0;
        transition: all .3s ease-out;
    }

    &__insta-dtls-hdng {
        margin: 0;
        font-size: 1rem;
    }

    &__insta-dtls-date {
        margin-top: .5rem;
        font-size: .875rem;
        color: $color-darkgrey-neutral;
        font-weight: 600;
    }

    &__insta-dtls-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.25rem;
        padding: .5rem;
    }

    &__insta-dtls-item {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__insta-dtls-icon {
        
        &--heart {
            color: $color-red-functional;
        }

        &--comment {
            color: $color-blue-functional;
        }
    }

    // Socials

    &__scl-cntnr {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__scl-hdng {
        @include font-h3();
    }

    &__scl-lst {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__scl-itm {

    }

    &__scl-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 50%;
        overflow: hidden;
        padding: .25rem;
        transition: all .1s ease-out;
        outline: 4px solid #c69e4d00;

        &:hover {
            outline: 4px solid $color-gold-accent;
            
            .c-scls__scl-icon {
                color: $color-gold-accent;
                transform: rotate3d(0, 1, 0, 360deg) scale(1.4);

            }
        }
    }

    &__scl-icon {
        font-size: 1.25rem;
        color: $color-white-neutral;
        transition: all .3s ease-out;
    }
}

.c-faq {
    padding: 4rem 0 6rem 0;

    &__row {
        row-gap: 2rem;

        @media (max-width: 576px) {
            row-gap: 1rem;
        }
    }

    &__hdng {
        @include font-h2();
    }

    // Accordionq

    &__accrdn-list {

    }

    &__accrdn-item {
     
    }

    &__accrdn-hdng {

    }

    &__accrdn-btn {
        @include font-nav();
        transition: all .05s ease-out;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(.collapsed) {
            background-color: transparent;
            color: $color-gold-accent;

            .c-faq {

                &__accrdn-chvrn {
                    transform: rotate(-180deg);
                }
            }
        }

        &:focus {
            box-shadow: none;
            // background-color: $color-gold-accent;
            // color: $color-white-neutral;
        }

        
            
        &:hover {
            color: $color-gold-accent;
            

            .c-faq {

                &__accrdn-btn-txt {
                    margin-left: 0;
                }

                &__accrdn-arrw {
                    opacity: 1;
                }
            }
        }
        

        &::after {
            display: none;
        }
    }

    &__accrdn-btn-txt {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: -3rem;
        transition: all .3s ease-out;
    }

    &__accrdn-arrw {
        font-size: 1rem;
        transition: all .1s ease-out;
        opacity: 0;
    }

    &__accrdn-chvrn {
        margin-left: 1rem;
        transition: all .3s ease-out;
    }

    &__accrdn-cllps {

    }

    &__accrdn-body {
        
    }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
  
.fade-out {
    opacity: 1;
    animation: fadeOut .5s forwards;
}

  